<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intermagnet Data Scrape</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }
        .container {
            margin-top: 50px;
        }
        .form-group {
            margin-bottom: 1.5rem;
        }
        footer {
            margin-top: 50px;
            padding: 20px 0;
            background-color: #f8f9fa;
            text-align: center;
        }
        #map {
            height: 600px;
            width: 100%;
        }
        #loading {
            display: none;
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 id="message" class="text-center my-4">{{ message }}</h1>

        <!-- Formular für Start- und Endzeit -->
        <form method="POST" class="mb-4" id="data-form">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="selection_method">Auswahlmethode:</label>
                    <select class="form-control" id="selection_method" name="selection_method" required>
                        <option value="latitude" selected>Abstand in Breitengraden</option>
                        <option value="station_codes">Stationscodes</option>
                    </select>
                </div>
            </div>
            <div id="latitude_selection" class="form-row" style="display: block;">
                <div class="form-group col-md-6">
                    <label for="distance">Abstand zu BUE (Breitengrade):</label>
                    <input type="number" class="form-control" id="distance" name="distance" value="2" step="0.1" placeholder="z.B. 1.0">
                </div>
            </div>
            <div id="station_codes_selection" class="form-row" style="display: none;">
                <div class="form-group col-md-6">
                    <label for="station">Stationen (Komma getrennt):</label>
                    <input type="text" class="form-control" id="station" name="station" placeholder="z.B. NGK, ESK, VAL, WNG, HLP">
                </div>
                <div class="form-group col-md-6">
                    <button type="button" id="select-default" class="btn btn-secondary mt-4">Standardstationen auswählen</button>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="start">Startzeit:</label>
                    <!-- Input-Feld für Datum und Uhrzeit mit Flatpickr -->
                    <input type="text" class="form-control" id="start" name="start" placeholder="Datum und Uhrzeit wählen" value="{{ start or '' }}" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="stop">Endzeit:</label>
                    <!-- Input-Feld für Datum und Uhrzeit mit Flatpickr -->
                    <input type="text" class="form-control" id="stop" name="stop" placeholder="Datum und Uhrzeit wählen" value="{{ stop or '' }}" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="filter_values" name="filter_values" checked>
                        <label class="form-check-label" for="filter_values">
                            Werte über 100.000 herausfiltern
                        </label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Daten abrufen und plotten</button>
        </form>

        <div id="loading">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Laden...</span>
            </div>
            <h2>Bitte warten, die Daten werden verarbeitet...</h2>
        </div>

        <div id="progress-container" class="text-center my-4" style="display: none;">
            <h2>Fortschritt: <span id="progress">0</span>%</h2>
        </div>

        {% if plot_url %}
            <h2 class="text-center my-4">Plot für die Zeitspanne von {{ start|datetimeformat }} bis {{ stop|datetimeformat }}:</h2>
            <!-- Einbetten des interaktiven Plots -->
            <iframe src="{{ url_for('download_file', filename=plot_url) }}" width="100%" height="600" class="mb-4"></iframe>

            <!-- Download-Link für den Plot -->
            <div class="text-center">
                <a href="{{ url_for('download_file', filename=plot_jpg_url) }}" class="btn btn-secondary" download>Plot als JPG herunterladen</a>
            </div>
        {% endif %}

        {% if map_plot_url %}
            <h2 class="text-center my-4">Weltkarte der ausgewählten Stationen:</h2>
            <!-- Leaflet-Karte -->
            <div id="map"></div>

            <!-- Download-Link für die Weltkarte -->
            <div class="text-center">
                <a href="{{ url_for('download_file', filename=map_plot_jpg_url) }}" class="btn btn-secondary" download>Weltkarte als JPG herunterladen</a>
            </div>
        {% endif %}

        {% if corr_plot_url %}
            <h2 class="text-center my-4">Korrelationsmatrix:</h2>
            <!-- Einbetten der Korrelationsmatrix -->
            <iframe src="{{ url_for('download_file', filename=corr_plot_url) }}" width="100%" height="600" class="mb-4"></iframe>

            <!-- Download-Link für die Korrelationsmatrix -->
            <div class="text-center">
                <a href="{{ url_for('download_file', filename=corr_plot_jpg_url) }}" class="btn btn-secondary" download>Korrelationsmatrix als JPG herunterladen</a>
            </div>
        {% endif %}

        {% if csv_url %}
            <h2 class="text-center my-4">CSV-Datei der kombinierten Daten:</h2>
            <div class="text-center">
                <a href="{{ url_for('download_file', filename=csv_url) }}" class="btn btn-secondary" download>CSV herunterladen</a>
            </div>
        {% endif %}

        {% if elapsed_time %}
            <div class="mt-4">
                <h3>Verarbeitungszeit</h3>
                <p>Die Verarbeitung hat {{ elapsed_time | round(2) }} Sekunden gedauert.</p>
                <p>Verarbeitete Datenpunkte: {{ data_count }}</p>
                <p>Größe der CSV-Datei: {{ data_size_mb }} MB</p>
            </div>
        {% endif %}
    </div>

    <footer>
        <p>&copy; 2025 Florian von Bargen, API R.S Weigel</p>
    </footer>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <!-- Flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/de.js"></script>
    <script>
        // Nachricht nach 5 Sekunden ausblenden
        setTimeout(function() {
            var messageElement = document.getElementById('message');
            if (messageElement) {
                messageElement.classList.add('fade-out');
            }
        }, 5000);

        // WebSocket-Verbindung herstellen
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        // Fortschritt anzeigen
        socket.on('progress', function(data) {
            var progressContainer = document.getElementById('progress-container');
            var progressElement = document.getElementById('progress');
            progressContainer.style.display = 'block';
            progressElement.innerText = data.progress;
        });

        // Auswahlmethode ändern
        document.getElementById('selection_method').addEventListener('change', function() {
            var method = this.value;
            var latitudeSelection = document.getElementById('latitude_selection');
            var stationCodesSelection = document.getElementById('station_codes_selection');
            if (method === 'latitude') {
                latitudeSelection.style.display = 'block';
                stationCodesSelection.style.display = 'none';
            } else if (method === 'station_codes') {
                latitudeSelection.style.display = 'none';
                stationCodesSelection.style.display = 'block';
            }
        });

        // Standardstationen auswählen
        document.getElementById('select-default').addEventListener('click', function() {
            var stationInput = document.getElementById('station');
            stationInput.value = 'NGK, ESK, VAL, WNG, HLP';
        });

        // Flatpickr für Datum und Uhrzeit initialisieren
        flatpickr("#start", {
            enableTime: true,
            time_24hr: true,
            dateFormat: "Y-m-d\\TH:i",
            locale: "de"
        });
        flatpickr("#stop", {
            enableTime: true,
            time_24hr: true,
            dateFormat: "Y-m-d\\TH:i",
            locale: "de"
        });

        // Zeige Ladesymbol beim Absenden des Formulars
        document.getElementById('data-form').addEventListener('submit', function(event) {
            document.getElementById('loading').style.display = 'block';
        });

        // Leaflet-Karte initialisieren
        document.addEventListener('DOMContentLoaded', function() {
            {% if map_plot_url %}
            var map = L.map('map').setView([53.651, 9.424], 5);

            // Basiskarten
            var satellite = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
                attribution: 'Tiles © Esri — Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
            });

            var streets = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            });

            // Standardmäßig die Satellitenansicht hinzufügen
            satellite.addTo(map);

            // Layer Control hinzufügen
            var baseMaps = {
                "Satellit": satellite,
                "Straßenkarte": streets
            };

            L.control.layers(baseMaps).addTo(map);

            fetch('{{ url_for("download_file", filename="combined/map_data.json") }}')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Netzwerkantwort war nicht ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (Array.isArray(data)) {
                        data.forEach(station => {
                            if (station.latitude !== undefined && station.longitude !== undefined) {
                                L.marker([station.latitude, station.longitude])
                                    .bindPopup(`<b>${station.observatory_name} (${station.iaga_code})</b>`)
                                    .addTo(map);
                                L.marker([station.latitude, station.longitude], {
                                    icon: L.divIcon({
                                        className: 'station-label',
                                        html: `<div style="color: blue; font-weight: bold;">${station.observatory_name} (${station.iaga_code})</div>`,
                                        iconSize: [0, 0]
                                    })
                                }).addTo(map);
                            }
                        });
                    } else {
                        console.error('Datenformat ist ungültig:', data);
                    }
                })
                .catch(error => console.error('Fehler beim Abrufen der Daten:', error));

            // Hinzufügen der Breitengrade 52, 53, 54, 55 und 56 mit Beschriftungen
            [52, 53, 54, 55, 56].forEach(lat => {
                L.polyline([[lat, -180], [lat, 180]], { color: 'green', weight: 2 }).addTo(map);
                L.marker([lat, 0], {
                    icon: L.divIcon({
                        className: 'latitude-label',
                        html: `<div style="color: green; font-weight: bold;">${lat}°</div>`,
                        iconSize: [0, 0]
                    })
                }).addTo(map);
            });
            {% endif %}
        });
    </script>
</body>
</html>